<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <div class="header">
        <nav class="navbar navbar-expand-md fixed-top fnt">
            <div class="container shadow-lg bg-white rounded border" style="padding: 0.4%; margin-top: 0.2%;" >
                <i class="fa fa-heartbeat "style="font-size: 28px;color:#0b8470ff; padding-left:2%"></i>
               <a href="#" class="navbar-brand mr-2 " style="font-weight: 700; color: #0b8470ff; font-size: 28px;font-family:proxima-nova; letter-spacing: 4px;">  SAATHI</a>
                <button class="navbar-toggler " data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav mx-auto text-center">
                        <li class="nav-item">
                            <a href="#" class="nav-link" style="color: #005450ff;font-size: 18px;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" style="color: #005450ff;font-size: 18px;">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" style="color: #005450ff;font-size: 18px;">Services</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" style="color: #005450ff;font-size: 18px;">Contact</a>
                        </li>
                    </ul>
                    <div class="nav-item " style="padding-right: 2%;" >
                        <button class="btn rounded-pill "style="height:10%; background-color:#005450ff;color:white;" >Join Us!</button>
                    </div>
                </div>
            </div>
              
            
        </nav>
        <div class="container-fluid row domain-disp" >
            <div class="col page">
                <h1 style="padding-top: 20vh; font-size: 82px; padding-left: 10%; color:white; text-align: left;padding-left: 5%;">The next generation of health care</h1>
                <p style="font-size: 20px; padding-left: 5%; font-family: domain-displayy; color: white;">We aim to integrate AI in everyday medical field</p>
                <button class="btn rounded-pill " style="background-color: #ffc776; width: 20%; margin-left: 5%; height: 9%;color:black; font-family:fr;">Sign Up</button>
            </div>
            <div class="col img">
                <img src="" alt="">
            </div>
            
        </div>

        </div>
        <div class="about container" style="margin-top: 80px;">
            <div class="container"  >
            <h1 style="text-align: center; color:#004d49ff;font-family:fr; font-size:72px">About Us</h1>
            </div>
            <div class="container mb-5 mt-5">
            <p  style="text-align: center;">Welcome to Saathi! We, believe in the old saying “Health is wealth”, we present you our personalised AI chatbot that will provide support 24/7 in your healthcare.</p>
            </div>
            <div class="mission">
                <h2 style="text-align: center; color:#004d49ff;font-family:fr; font-size:42px">Our Mission</h2>
                <p style="padding: 4%;text-align: center;">Our mission is to make healthcare accessible, efficient and personalized for everyone. We know how frustrating it can be to roam around hospitals, that’s why we developed our bot to be your companion and make this process easy. We’re here to provide you with reliable, timely, and accurate information to help you make wise decisions about your health.</p>
            </div>
            <div class="row">
            <div class="col ms-auto mx-3 mb-5">
                <div  style="text-align: center;">
                    <i class="fa-solid fa-dollar-sign fa-2xl" style="color: #004d49ff;margin-bottom: 10%;"></i>
                    <div class="card-text ">
                        
                        <h5 style="margin:auto;">Low Cost</h5>
                        <p style="margin:auto;"> Services are provided at an affrodable price</p>
                    </div>
                </div>
            </div>
            <div class="col ms-auto mx-3 mb-5">
                <div style="text-align: center;">
                    <i class="fa-solid fa-stethoscope fa-2xl" style="color: #004d49ff;margin-bottom: 10%;"></i>
                    <div class="card-text">
                        <h5>24/7 available</h5>
                        <p>Always available for the people</p>
                    </div>
                </div>
            </div>
            <div class="col ms-auto mx-3 mb-5">
                <div style="text-align: center;">
                    <i class="fa-solid fa-handshake fa-2xl" style="color: #004d49ff; margin-bottom: 10%;"></i>


                    <div class="card-text " style="color: #273734ff;">
                       <h5>Efficient Management of Resources</h5>
                       <p>No wastage of human resources on simple works</p>
                    </div>
                </div>
            </div>
            </div>
        
        

        </div>
        <div class="Patient container" style="height: 50vh; margin-top: 100px;">
            <h1 style="text-align: center; font-family: fr;font-size: 72px; color:#004d49ff;">Assisting People with right advices</h1>
            <p class="mt-5" style="text-align: center;">Our chatbot is AI-driven and it assists you with right advices regarding you health, it can work like a doctor which you can access from your anywhere. It will also recoomend you the doctors and can connect you with them at your ease.</p>
            <div class=" d-flex  justify-content-center">
                <a href="bott.html" class="btn btn-primary rounded-pill mt-3 " style="height:15%;width:10%;margin: auto;background-color: #004d49ff; color: white;" >Get Started</a>
            </div>
        </div>
        <div class="doctor container " style="height: 80vh; margin-top: 40px; ">
            <h1 style="padding-top: 7%; font-family: fr;font-size: 72px; text-align: center; color: #004d49ff;">Helping the Doctors in any way possible</h1>
           
            <p class="mt-5" style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum corrupti suscipit ipsam expedita nesciunt, quis ex perspiciatis cumque praesentium autem?</p>
            <div class=" d-flex  justify-content-center" >
                
                <a href="scans.html" class="btn btn-primary rounded-pill mt-3 " style="height:15%;width:10%;margin: auto;background-color: #004d49ff; color: white;" >Get Started</a>
            </div>
        </div>
        <div class="contact container-fluid" style="background-color: #005450ff;">
            <h1 style="text-align: center;font-family: fr; font-size: 72px; padding-top: 5%; color: white;">Sign Up for Membership</h1>
        </div>
        <script src="" async defer></script>
        <script src="https://kit.fontawesome.com/1d6810cdcf.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>